@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    background-color: #060b1c;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.menu {
    background-color: #0e1527;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #474747;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px 0 0 10px;
}

.logo i {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #12354F;
    color: cyan;
    border-radius: 8px;
}

.logo p {
    font-family:"Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.navigation-buttons {
    font-family: "Poppins", sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
        font-size: 15px;
        display: flex;
        position: relative;

        a {
            text-decoration: none;
            display: flex;
            padding: 10px;
        }

        button {
            width: 14rem;
            height: 2.8rem;
            cursor: pointer;
            background: none;
            border: none;
            font-size: 15px;
            display: flex;
            align-items: center;
            padding: 6px;
            gap: 6px;
            font-family: "Inter";
            font-weight: 400;
            color: #474747;
            border-radius: 8px;

            i {
                font-size: 25px;
            }
        }

        button:hover{
            background-color: #12354F;
            border-radius: 8px;
            transition: 0.5s;
            color: cyan;
        }
    }
}

.container-content {
    width: 100%;
    flex-grow: 1;
}

.register-section {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;

    p {
        font-size: 26px;
        font-family: "Poppins";
        color: #FFFFFF;
    }
}

.register-button {
    padding: 8px;
    gap: 8px;
    background-color: cyan;
    border: none;
    border-radius: 8px;
    font-family: "Poppins";
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

    i{
        padding: 0.5px 0 0 0;
    }

}

.register-button:hover{
    background-color: #0e1527;
    color: cyan;
    transition: 0.5s;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-1 {
  width: 50%;
  height: 44%;
  background-color: #060b1c;
  border: none;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-50px); /* começa acima */
  animation: slideDown 0.3s ease forwards; /* animação rápida */
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px); /* fora da tela, acima */
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.forms {
    height: 100%;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

#register-form p{
    font-size: 14px;
    font-family: "Poppins";
    color: #474747;
    margin: 0;
}

#register-form h1 {
    font-family: "Poppins";
    color: #FFFFFF;
    margin: 0;
}

.content-form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas */
    gap: 15px 20px; /* espaço entre linhas e colunas */
    margin-top: 20px;
}

.content-form .subtitle {
    grid-column: 1 / -1; /* faz o título ocupar as duas colunas */
    font-weight: bold;
    margin-bottom: 10px;
}

.content-form input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #0d1221;
    color: #fff;
}

.field label {
    display: block;
    margin-bottom: 5px;
    color: #444444;
    font-family: "Poppins";
    font-size: 14px;
}

.field input {
    width: 90%;
    border-radius: 6px;
    border: 1px solid #444;
    background: #0d1221;
    color: #fff;
}

.button-forms {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin: 20px 20px 0 0;

    button {
        padding: 8px;
        border: none;
    }
}

.button-forms .close-modal {
    font-family: "Poppins";
    background-color: #0e1527;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button-forms .close-modal:hover {
    background-color: red;
    color: #FFFFFF;
    border-radius: 8px;
    transition: 0.5s;
}

.button-forms .button-register {
    font-family: "Poppins";
    background-color: cyan;
    color: #060b1c;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button-forms .button-register:hover {
    background-color: #060b1c;
    color: cyan;
    border-radius: 8px;
    transition: 0.5s;
}